<h1>Paws Here to Login</h1>
<%= @error %>
<form method="post" action="/login">
  
    <label for="email" style="color:#ffffff";>Email</label>
    <input type="email" name="email" id="email" />
  <br>
  
    <label for="password" style="color:#ffffff";>Password</label>
    <input type="password" name="password" id="password" style="margin-left: 0px";/>
    <br>
  <input type="submit" value="Sign In"/>
</form>

