
<link rel="stylesheet" href="/stylesheets/main.css" />
<h1>Create Your Pawfect Friend's Account</h1>
<form method="post" action="/owners">
     <label for="name" style="margin-left: -32px; color: #ffffff";>Petparent Name</label>
    <input type="text" name="name" id="name" required="required"/>
      <br>
    <label for="email" style="margin-left: 42px; color: #ffffff";>Email</label>
    <input type="email" name="email" id="email" required="required" />
       <br>
    <label for="password" style=" margin-left: 8px; color: #ffffff";>Password</label>
    <input type="password" name="password" id="password"  required="required"/>
       <br>
    <input type="submit"  value="Sign Up" />
</form>


