<h1>Create Your Pawfect Friend's Account</h1>
<form method="post" action="/users">
  <p>
    <div><label for="email">Email</label></div>
    <input type="email" name="email" id="email" />
  </p>
  <p>
    <div><label for="password">Password</label></div>
    <input type="password" name="password" id="password" />
  </p>
  <input type="submit" img src="" value="Sign Up" />
</form>
<img src="/images/paw_post_img.jpg" height="200" width="300" style="vertical-align:middle">
