<p><h4>Tell Us About Your Furbaby </h4></p>
<form method="post" action="/dogs">
  <p>
    <label  for="name" class="label";>Name</label>
    <input type="name" name="name" id="name" />
  </p>
  <p>
    <label for="breed" class="label";>Breed</label>
    <input type="breed" name="breed" id="breed" />
  </p>
    
  
  <label for="temperament" style="color: #ffffff";>Temperament:</label>
  <select id="temperament" name="temperament">
    <option value="" >Select a Description</option>
    <option value="lazy dog">Lazy Dog</option>
    <option value="feisty">Feisty</option>
    <option value="playful">When do We Play?</option>
    <option value="snugglemeister">Snugglemeister</option>
  </select>
  <br>
   
     <label  for="comments" style="color: #ffffff; display: inline";>What's Special About Your Pup?</label>
     <br>
    <textarea name="comments" id="comments"  rows="8" cols="40" class="textarea";>
    </textarea>
  <br>
<input type="submit"  value="Submit" />
</form>