<h1>Tell Us About Your Furbaby</h1>
<form method="post" action="/dogs">
  <p>
    <div><label for="name">Name</label></div>
    <input type="name" name="name" id="name" />
  </p>
  <p>
    <div><label for="breed">Breed</label></div>
    <input type="breed" name="breed" id="breed" />
  </p>
  
  <p>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Male</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">Female</label><br>
  
  </p>
  </form>
<input type="submit"  value="Submit" />