<h1>Tell Us About Your Furbaby</h1>
<form method="post" action="/dogs">
  <p>
    <div><label for="name">Name</label></div>
    <input type="name" name="name" id="name" />
  </p>
  <p>
    <div><label for="breed">Breed</label></div>
    <input type="breed" name="breed" id="breed" />
  </p>
  <input type="submit"  value="Submit" />
</form>
<img src="/images/paw_post_img.jpg" height="200" width="300" style="vertical-align:middle">