<h1 style="text-align: center";>Tell Us About Your Furbaby </h1>
<form method="post" action="/dogs">
  <p>
    <div><label  for="name">Name</label></div>
    <input type="name" name="name" id="name" />
  </p>
  <p>
    <div><label for="breed">Breed</label></div>
    <input type="breed" name="breed" id="breed" />
  </p>
    
  
 <div> <label for="temperament">Temperament:</label></div>
  <select id="temperament" name="temperament">
    <option value="" >Select a Description</option>
    <option value="lazy dog">Lazy Dog</option>
    <option value="feisty">Feisty</option>
    <option value="playful">When do We Play?</option>
    <option value="snugglemeister">Snugglemeister</option>
  </select>
  
 
  <div>
   <div><label  for="">What's Special About Your Pup?</label></div>
    <textarea name="comments" id="comments"  rows="8" cols="40" style=white-space:pre-wrap;>
    </textarea>
  </div>
  
<input type="submit"  value="Submit" />
</form>