<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    
    <title>PawPost</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
  <nav>
      <% if !logged_in? %>
        <a href="/login">Log In</a>
        <a href="/owners/new">Sign Up</a>
      <% else %> 
        <form method="post" action="/logout">
          <input type="hidden" name="_method" value="delete"/>
          <input type="submit" value="Log Out"/>
        </form>  
     <div>
      <div> 
      <a href="/dogs/new" text-align="center" >Add a Pup Profile</a>
      <a href="/dogs/:id/edit" text-align="center" >Edit a Pup Profile</a>
      <% end %>
      </div>
      </div>
  </nav>

        <%= yield %>
        
      <img src="/images/paw_post_img.jpg" height="200" width="300" style="vertical-align:middle">
      <img src="/images/dog_car_paw_post.jpeg" height="200" width="200" style="vertical-align:middle" padding=60px>
      <img src="/images/pittie_paw_post.jpeg" height="200" width="300" style="vertical-align:middle">
      <img src="https://images.pexels.com/photos/59523/pexels-photo-59523.jpeg?cs=srgb&dl=pexels-torsten-dettlaff-59523.jpg&fm=jpg" height="200" width="300">
      <footer class="branding"> 
        <small>&copy; 2020 <strong>PawPost</strong></small>
      </footer>
    </div>

    
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
