<!-- app/views/sessions/login.erb -->
<html>
  <body>
   <h1>Log In</h1>
    <%= @error %>
    <form method="post" action="/login">
      <label for="email">Email</label>
      <input type="email" name="email" id="email"/>
      <br>
      <p>
       <label for="password">Password</label>
        <input type="password" name="password" id="password" style="display: inline-block"; />
       </p>
      <input type="submit" value="Sign In"/>
    </form>
  </body>
</html>